gitignore테스트.이파일을무시하기.txt

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


### UiPath ###
.settings/
.local/
.objects/
.tmh

*PackageCache.json
*ProjectSettings.json
*.cache
*.props
*.backup
*AllDependencies.json




### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar



.vscode/
